/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Body Styling */
body {
  padding: 0;
  box-sizing: border-box;
}

/* Header Styling */
header {
  position: sticky;
  top: 0;
  left: 0;
  margin: auto;
  width: fit-content; /* Adjusts header width to content */
  z-index: 5; /* Ensures header stays above other elements */
}

/* Navigation bar: styles list items for horizontal navigation */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 100px;
}

/* Navigation links: base style */
nav a {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

/* Navigation links: animation for hover effect */
nav a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}
/* Navigation links: hover state */
nav a:hover::after {
  width: 100%;
}
/* Styles the promotional bar at the top of the page */
.nav-ofertas {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  font-style: normal;
  background-color: #000;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-transform: uppercase;
  z-index: 10;
  gap: 4rem;
}

/* Styles the text inside the promotional bar */
.nav-ofertas p {
  text-align: center;
}

/* Styles the button inside the promotional bar */
.nav-ofertas button {
  background-color: black;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* Button hover effect */
.nav-ofertas button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Styles the user menu bar with account and shopping cart icons */
.user-menu {
  background-color: #f2b513;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 20px;
}
/* Sizes the icons in the user menu */
.user-menu img {
  width: 20px;
  height: 20px;
}

/* Styles the main navigation bar */
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  background-color: #fff;
  padding: 15px 23px 0 20px;
  margin: 0;
  position: relative;
  z-index: 1;
  gap: 2rem;
}

/* Styles the separators in the navigation bar */
.main-nav .container .separator {
  border-right: 1px solid #000;
  height: 20px;
  margin: 0 10px;
}

/* Styles the images in the region info section */
.region-info img {
  width: 20px;
  height: auto;
}

/* Styles the spans inside the navigation container */
.main-nav .container span {
  font-family: "Public Sans", sans-serif;
  font-size: 10px;
  color: #000;
}

/* Styles the separator in the region info section */
.region-info .separador {
  border-right: 1px solid #000;
  height: 20px;
}

/* Styles the logo inside the main navigation */
.main-nav .logo {
  height: 70px;
  margin: 0 auto;
}

/* Styles the search input in the navigation container */
.main-nav .container input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  width: px;
}

/* Styles the placeholder text inside the input */
.main-nav .container input::placeholder {
  color: #aaa;
}

/* Aligns and spaces elements in the region info section */
.region-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Ensures the flag container aligns its items properly */
.flag-container {
  display: flex;
  align-items: center;
}

/* Styles the flag images in the container */
.flag-container img {
  width: 20px;
  height: auto;
}

/* Styles the navigation bar */
.main-nav nav {
  width: 100%;
  max-width: 1500px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

/* Container for the main navigation */
.nav-container {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ensures a consistent layout for the navigation content */
.main-nav .container {
  max-width: 1500px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* Sets the width for the user menu section */
.user-menu {
  width: 100dvw;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb */
/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container */
main {
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px; /* Espaciado interno opcional */
}

/*estilado de a, eliminacion de subrayado */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/*````````````````````LINGERIE SECTION```````````````````````````````*/
/* Breadcrumb ellamau */
.breadcrumb {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  text-align: left;
}

/* Título principal lingerie */
.lingerie-carousel h2 {
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: left;
}

/* Carrusel lingerie */
.carousel-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  max-width: 100%;
  margin: 0 auto;
}

/* Carrusel items lingerie */
.carousel-item {
  flex: 0 0 calc(100% / 6 - 20px);
  text-align: center;
  margin: 0 10px;
}

/* Carrusel image lingerie */
.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Carrusel text lingerie */
.carousel-title {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

/* Sección de filtros */
.filters {
  margin-top: 30px;
  text-align: left;
  padding: 0 20px;
}
/*contenedor de filtros alineacion*/
.filters-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaciado entre texto y botones */
  max-width: 1500px;
  margin: 0 auto; /* Centra el contenido dentro del main */
}
/*texto de filtdo por */
.filters-container p {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
/*espacio entre los filtros*/
.filters-buttons {
  display: flex;
  gap: 10px; /* Espaciado entre los botones */
}

/*boton de filtro*/
.filters-buttons button {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*boton de filtro animacion*/
.filters-buttons button:hover {
  background-color: #000; /* Fondo negro al pasar el mouse */
  color: #fff; /* Texto blanco en hover */
}


/*```````````````````````` Sección Recomendados ````````````````````````````*/
.recommended-section {
  max-width: 1500px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

.section-title {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
}

/* Contenedor principal */
.recommended-container {
  display: flex;
  gap: 20px;
}

/* Banner grande a la izquierda */
.banner {
  flex: 1 1 50%; 
  background-color: #a10e0e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px; 
}

.banner-content h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.banner-content p {
  font-size: 16px;
  text-align: center;
}

/* Tarjetas de producto alineadas horizontalmente */
.right-grid {
  flex: 1 1 50%; 
  display: flex;
  flex-direction: row; 
  gap: 20px;
  justify-content: space-between;
}


/* Tarjeta de producto */
.product-card {
  position: relative;
  width: 100%;
  height: 600px; 

  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

/* Imagen del producto */
.product-image {
  display: block;
  width: 100%;
  height: calc(
    100% - 130px
  ); 
  object-fit: cover; 
  margin: 0;
}

/* Información del producto */
.product-info {
  position: relative;
  height: 130px;
  padding: 10px 20px; 
  background: #fff; /* Fondo blanco */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 5px;
}

/* Opciones de color */
.color-options {
  display: flex;
  gap: 8px;
  margin-top: 10px; 
  margin-bottom: 10px;
  justify-content: flex-start; 
  margin-left: 10px; 
}

/* Color individual */
.color {
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  border: 1px solid #000;
  cursor: pointer; 
  background-color: transparent; 
  transition: transform 0.2s ease;
}

.color.black {
  background-color: #000;
}

.color.white {
  background-color: #fff;
}

.color:hover {
  transform: scale(1.2); 
}

/* Nombre del producto */
.product-name {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  margin-left: 10px; 
}

/* Precio del producto */
.product-price {
  font-family: "Public Sans", sans-serif;
  font-size: 16px; 
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-left: 10px;
}

/* Cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); 
  gap: 30px; 
  margin-top: 30px; 
}

/* Tarjetas dentro de la cuadrícula */
.product-card {
  margin: 0; 
}
